{{- $start := (time .start) -}}
{{- $now := now -}}

{{- $end :=  (time (default $now .end)) -}}
{{- $endStr := cond (eq (time.Format "2006-01" $now) (time.Format "2006-01" $end)) (i18n "now") (time.Format "Jan 2006" $end ) -}}

{{- $startStr := time.Format (cond (eq $start.Year $end.Year) "Jan" "Jan 2006") $start  -}}

{{- $elapsed_seconds := sub ($end.Unix) ($start.Unix) -}}
{{- $seconds_in_a_month := mul 60 60 24 30 }}
{{- $elapsed_months := (div $elapsed_seconds $seconds_in_a_month) -}}

{{- $years := (div $elapsed_months 12) -}}
{{- $yearsAsString := (cond (gt $years 0) (i18n "years_count" (dict "Count" $years)) "" ) -}}
{{- $months := (mod $elapsed_months 12) -}}

<h2>{{ i18n "date_to_date" (dict "start" $startStr "end" $endStr) }}</h2>
{{- if gt $years 0 -}}
  {{- $title := printf "%s %s" (i18n "years_count" (dict "Count" $years)) (i18n "months_count" $months) -}}
  {{- $half := false -}}
  {{- if ge $months 10 -}}
    {{- $years = add $years 1 -}}
  {{- else if ge $months 4 -}}
    {{- $half = true -}}
  {{- end -}}
  <h3 title="{{ $title }}">{{ i18n "years_count" (dict "Count" $years "Half" $half) }}</h3>
{{- else -}}
  <h3>{{ i18n "months_count" $months }}</h3>
{{- end -}}
